<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="JSON_DB" connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\vladi\source\repos\JSON_DB_APP\JSON_DB_APP\JsonDB.mdf;Integrated Security=True" >	

		</add>
	</connectionStrings>

</configuration>